@model Dr4rum_eProjectIII.Models.Topic
    <div class="modal-header alert alert-success">
        <h4 class="modal- title">Are you sure to delete this topic ?</h4>
        <button type="button" class="close" data-dismiss="modal" ariahidden="true">×</button>
    </div>
    @using (@Html.BeginForm())
    {
        @Html.AntiForgeryToken()            
                <div class="modal-body">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="col-sm-12 TopicDelete-title ">Topic Title</div>
                            <div class="col-sm-12">
                                @Html.TextBoxFor(model => model.Topic_Title, new { @class = "formcontrol required TopicDelete-formControl", @disabled = "disabled", @id = "TopicDelete-overflow" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 TopicDelete-title ">Post By</div>
                            <div class="col-sm-12">
                                @Html.TextBoxFor(model => model.Account.UserName, new { @class = "formcontrol required TopicDelete-formControl", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" id="btnDelete" ct_ma="@Model.Topic_Title" value="Delete"
                               class="btn btn-default btn-danger" />
                        <button class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
           </div>
    }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}