@model Dr4rum_eProjectIII.Models.Topic

@{
    ViewBag.Title = "Edit";
}
<style>
    .hide{
        display: none
    }
    .stitle h2{
        color: blue;
            }
    .btmartop{
        margin-top: 5px;
    }
    .btback{
        font-style:normal;
        color:white;
        
    }
</style>
<div class="stitle mt-2 ml-2">
    <h2>@Html.DisplayFor(model => model.Topic_Title, new { @disabled = "disabled", htmlAttributes = new { @class = "form-control" } })</h2>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Topic_Title)

        @*<div class="form-group">
            @Html.LabelFor(model => model.Topic_Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <h4>@Html.DisplayFor(model => model.Topic_Title, new { @disabled = "disabled", htmlAttributes = new { @class = "form-control" } })</h4>
            </div>
        </div>*@


        <div class="form-group hide">
            @Html.LabelFor(model => model.Acc_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Acc_ID , new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Acc_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Category_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Category_Name", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Category_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group ">
            @Html.LabelFor(model => model.setV, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.setV, new { @checked = "checked", htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Topic_Info, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Topic_Info, new { @id = "Topic_Info" })
                @*@Html.EditorFor(model => model.Topic_Info)*@
                @*@Html.ValidationMessageFor(model => model.Topic_Info, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group hide">
            @Html.LabelFor(model => model.Report, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Report, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Report, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group hide">
            @Html.LabelFor(model => model.date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{
                    DateTime curentdate = DateTime.Now;
                }
                @Html.TextBoxFor(model => model.date, new { @Value = curentdate, htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<input type="submit" value="Save" class="btn btn-default"/>*@
                <button type="submit" class="btn btn-info" >Save</button>
                @Html.Raw("<a @*data-modal=''*@ href='/Topics/Index/ ' title='Edit'> <span class='btn btn-danger'>Back to List</span> </a>")
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/ckfinder/ckfinder.js"></script>
    <script type="text/javascript">
        //var editor = CKEDITOR.instances['Topic_Info'];
        //if (editor) { editor.destroy(true); }
        @*CKEDITOR.replace('Topic_Info', { enterMode: CKEDITOR.ENTER_BR, });
        CKFinder.setupCKEditor(null, '@Url.Content("~/Content/ckfinder/")');*@
        CKEDITOR.replace("Topic_Info");

    </script>
}
