@model IEnumerable<Dr4rum_eProjectIII.Models.Topic>

@{
    ViewBag.Title = "List of Topic";
}

<p>
    <button type="button" class="btn btn-light">@Html.ActionLink("Create New", "Create")</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Topic_Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Report)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.Category_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.Raw(item.Topic_Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Report)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Category_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Topic_Title }) |
            @Html.ActionLink("Details", "Details", new { id=item.Topic_Title }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Topic_Title })
        </td>
    </tr>
}

</table>
