@model IEnumerable<Dr4rum_eProjectIII.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Category Name
        </th>
        <th>
            Group Name
        </th>
        <th>
            Deleted
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.SetV == true)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Group.Group_Name)
                </td>
                <td>
                    <lable> Enable</lable>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Category_Name }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Category_Name })
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Group.Group_Name)
                </td>
                <td>

                    <lable> Disable</lable>
                </td>
                <td>

                    @Html.ActionLink("Edit", "Edit", new { id = item.Category_Name }) |
                    @Html.ActionLink("Recovery ", "Recovery_Category", new { id = item.Category_Name })
                </td>
            </tr>
        }
    }

</table>
