@model IEnumerable<Dr4rum_eProjectIII.Models.Account>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<h3>@ViewBag.thongbao</h3>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Avatar
        </th>
        <th>
            User Name
        </th>
        <th>
            Password
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Email
        </th>
        <th>
            Address
        </th>
        <th>
            Birthday
        </th>
        <th>
            Phone
        </th>
        <th>
            Gender
        </th>
        <th>
            Role
        </th>
        <th>
            Incognito
        </th>
        <th>
            Speciality
        </th>
        <th>
            Experience
        </th>
        <th>
            Achievement
        </th>
        <th>
            Deleted
        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.SetV == true)
        {
            <tr>
                <td>
                    <img src="~/Image/Avatar/@item.Avatar" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    <label>******</label>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @{DateTime date = item.Birthday;
                        var dateFormat = date.ToString("dd//MM//yyyy");
                    }
                    @dateFormat
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @if (item.Gender == true)
                    {
                        <span>FeMale </span>
                    }
                    else
                    {
                        <span>Male</span>
                    }
                </td>
                <td>
                    @if (item.Role == "A")
                    {
                        <span>Admin</span>
                    }
                    @if (item.Role == "U")
                    {
                        <span>User</span>
                    }
                    @if (item.Role == "D")
                    {
                        <span>Doctor</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Incognito)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Speciality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Experience)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Achievement)
                </td>
                <td>
                    @if (item.SetV == true)
                    {
                        <lable> Enable</lable>
                    }
                    else
                    { <lable>Disable</lable>}
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Acc_ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Acc_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Acc_ID })
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    <label>******</label>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @{DateTime date = item.Birthday;
                        var dateFormat = date.ToString("dd/MM/yyyy");
                    }
                    @dateFormat
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @if (item.Gender == true)
                    {
                        <span>FeMale </span>
                    }
                    else
                    {
                        <span>Male</span>
                    }
                </td>
                <td>
                    @if (item.Role == "A")
                    {
                        <span>Admin</span>
                    }
                    @if (item.Role == "U")
                    {
                        <span>User</span>
                    }
                    @if (item.Role == "D")
                    {
                        <span>Doctor</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Incognito)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Speciality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Experience)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Achievement)
                </td>
                <td>
                    @if (item.SetV == true)
                    {
                        <lable> Enable</lable>
                    }
                    else
                    { <lable>Disable</lable>}
                </td>
                <td>

                    @Html.ActionLink("Edit", "Edit", new { id = item.Acc_ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Acc_ID }) |
                    @Html.ActionLink("Recovery", "recovery", new { id = item.Acc_ID })
                </td>
            </tr>
        }
    }

</table>
