@model IEnumerable<Dr4rum_eProjectIII.Models.Category>
<!-- Banner-->
<img src="~/Image/Banner_Pic/topic.jpg" class="img-fluid" alt="Responsive image">
@foreach (var Caterory in Model)
{
    <!-- breadcrumb-->
    <div class="breadcrumb-containt">
        <div class="btn-group btn-breadcrumb breadcrumb-primary">
            <a href="@Url.Action("Index", "Index")" class="btn btn-primary"><img src="~/Image/Logo_Icon/home-50.png" class="navbar-logo" alt="Site Logo" /></a>
            <a href="@Url.Action("Index", "Index")" class="btn btn-primary breadcrumb-link ">Home</a>
            <!--
                   <a href="#" class="btn btn-primary visible-lg-block visible-md-block">Breadcrumbs text</a>
                   <a href="#" class="btn btn-primary visible-lg-block visible-md-block">Section</a>
                   <a href="#" class="btn btn-primary visible-lg-block visible-md-block">Category</a>
               -->
            <div class="btn btn-info c-info breadcrumb-link"> @Caterory.Category_Name </div>
        </div>
    </div>
    <div class="info-containt">
        <h2>@Caterory.Category_Name</h2>
        <div class="category-topic-containt">
            <div class="alert alert-warning  category-topic-titleContaint">
                <div class="title-topicTitle">
                    Tiêu Đề
                </div>
                <div class="title-topicDay">
                    Ngày Đăng
                </div>
                <div class="title-topicPostnum">
                    Số Bài Viết
                </div>
                <div class="title-topicPoster">
                    Bài Viết Cuối
                </div>
            </div>
            @foreach (var Topic in Caterory.Topics.ToList())
            {
                <div class="category-topic-info ">

                    <div class="info-topicTitle">
                        <div class="info-Title">
                            @Topic.Topic_Title
                        </div>
                        <div class="info-Name">
                            @Topic.Account.FirstName
                            @Topic.Account.LastName
                        </div>
                    </div>
                    <div class="info-topicDay">
                        @{ DateTime date = Topic.date;
                            var dateFormat = date.ToString("dd/MM/yyyy");}
                        @dateFormat
                    </div>
                    <div class="info-topicPostnum">
                        @Topic.Posts.Count()
                    </div>
                    @foreach (var post in Topic.Posts.OrderByDescending(a => a.Post_ID).Take(1))
                    {
                        <div class="info-topicPoster">
                            @post.Account.FirstName
                            @post.Account.LastName
                        </div>
                    }
                </div>
            }
        </div>
    </div>
}
