@model Dr4rum_eProjectIII.Models.Account
<div class="modal-group">
    @*This code is set avatar*@
    @{
        if (Model.Incognito == false)
        {
            if (Model.Avatar == null)
            {
                <img src="~/Image/avt/avatar-icon-filled.png" class="rounded-circle img-avatar" alt="Cinque Terre" width="100" height="100">
            }
            else
            {
                <img src="~/Image/avt/@Model.Avatar" class="rounded-circle img-avatar" alt="Cinque Terre" width="100" height="100">
            }

        }
        else
        {
            if (Model.Role == "D")
            {
                <img src="~/Image/avt/avatar-icon-D-Incognito.png" class="rounded-circle img-avatar" alt="Cinque Terre" width="100" height="100">
            }
            else
            {
                <img src="~/Image/avt/avatar-icon-U-Incognito.png" class="rounded-circle img-avatar" alt="Cinque Terre" width="100" height="100">
            }
        }
    }

    @*This code is set info*@
    <div class="modal-header alert alert-info ">
        <button type="button" class="close" data-dismiss="modal" ariahidden="true">×</button>
    </div>
    @using (@Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="modal-body">
            <h4 class="modal- title" style="text-align:center; margin-top: 6%">@Model.UserName</h4>
            @{
                if (Model.Incognito == false)
                {
                    <div class="info-group row">
                        <div class="col-5 other-info-title">Full Name :</div>
                        <div class="col-7 other-info">@Model.FirstName @Model.LastName</div>

                        <div class="col-5 other-info-title">Email :</div>
                        <div class="col-7 other-info">@Model.Email</div>

                        <div class="col-5 other-info-title">Address :</div>
                        <div class="col-7 other-info">@Model.Address</div>

                        <div class="col-5 other-info-title">Birthday :</div>
                        <div class="col-7 other-info">@Model.Birthday</div>

                        <div class="col-5 other-info-title">Gender:</div>
                        <div class="col-7 other-info">
                            @if (Model.Gender)
                            {<p>Male</p>}
                            else
                            { <p>Female</p>}
                        </div>

                        @if (Model.Role == "D")
                        {
                            <div class="col-5 other-info-title">Speciality :</div>
                            <div class="col-7 other-info">@Model.Speciality</div>

                            <div class="col-5 other-info-title">Experience :</div>
                            <div class="col-7 other-info">@Model.Experience</div>

                            <div class="col-5 other-info-title">Achievement :</div>
                            <div class="col-7 other-info">@Model.Achievement</div>
                        }

                    </div>
                }
                else
                {
                    if (Model.Role == "D")
                    {
                        <div class="user-status">This doctor is quite mysterious!</div>
                        <div class="user-status" id="sub"> He does not want anyone to know his information!</div>
                    }
                    else
                    {
                        <div class="user-status">Sorry, but I do not want to reveal my information to you now!</div>
                    }
                }
            }
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
    }
</div>

@section Styles {
    <link href="@Url.Content("~/Content/assets/style.css")" rel="stylesheet" type="text/css" />
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
