@model IEnumerable<Dr4rum_eProjectIII.Models.Account>
<div class="index-list-containt">
    <div class="index-list">

        @foreach (var accountItem in Model)
        {
            <div class="UserName">
                <span class="UserName-Title"> User Name: </span>
                <span class="UserName-Info"> @accountItem.UserName </span>
            </div>
            <div class="First-name">
                <span class="FirstName-Title"> First Name: </span>
                <span class="FirstName-Info"> @accountItem.FirstName </span>
            </div>
            <div class="Last-name">
                <span class="LastName-Title"> Last Name: </span>
                <span class="LastName-Info"> @accountItem.LastName </span>
            </div>
            <div class="Email">
                <span class="Email-Title"> Email: </span>
                <span class="Email-Info"> @accountItem.Email </span>
            </div>
            <div class="Phone">
                <span class="Phone-Title"> Phone: </span>
                <span class="Phone-Info"> @accountItem.Phone </span>
            </div>
            <div class="Address">
                <span class="Address-Title"> Address: </span>
                <span class="Address-Info"> @accountItem.Address </span>
            </div>
            <div class="Birthday">
                <span class="Birthday-Title"> Birthday: </span>
                <span class="Birthday-Info"> @accountItem.Birthday </span>
            </div>
            <div class="Gender">
                <span class="Gender-Title"> Gender: </span>
                @if (accountItem.Gender)
                {
                    <span class="Gender-Info"> Male </span>
                }
                else
                {
                    <span class="Gender-Info"> Female </span>
                }
            </div>
            <div class="Incognito">
                <span class="Incognito-Title"> Incognito: </span>
                @if (accountItem.Incognito)
                {
                    <span class="Incognito-Info">Incognito</span>
                }
                else
                {
                    <span class="Incognito-Info"> Not Incognito </span>
                }
            </div>
            if (accountItem.Role == "D")
            {
                <div class="Speciality">
                    <span class="Speciality-Title"> Speciality: </span>
                    <span class="Speciality-Info"> @accountItem.Speciality </span>
                </div>
                <div class="Experience">
                    <span class="Experience-Title"> Experience: </span>  
                    <span class="Experience-Info"> @accountItem.Experience </span>
                </div>
                <div class="Achievement">
                    <span class="Achievement-Title"> Achievement: </span>
                    <span class="Achievement-Info"> @accountItem.Achievement </span>
                </div>
            }

            <div class="Avatar">
                <span class="Avatar-Title"> Avatar: </span>
                @if (accountItem.Avatar == null)
                {
                    <img style="width:200px" src="~/Image/avatar/shutterstock_534491617-600.jpg" />
                }
                else
                {
                   <img style="width:200px" src="~/Image/avatar/@accountItem.Avatar"/>
                }
            </div>
        }
    </div>
    <div class="p-5">
        @*@Html.ActionLink("Edit Information", "EditInformation", "UserAccount",null,new { @class = "btn btn-primary"})*@
        @Html.ActionLink("Change Password", "ChangePassword", "UserAccount",null,new { @class = "btn btn-primary"  })
    </div>
</div>
